<!-- src/main/resources/templates/dataTableView.html -->
<div th:fragment="energyDataTable(energyDataList)">
  <h2 class="text-dark">Energy Data</h2>
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>Time / Date</th>
      <th>Boa MWh</th>
      <th>DA Price</th>
      <th>MIP</th>
      <th>SS Price</th>
      <th>Solar MW</th>
      <th>Solar capacity mwp</th>
      <th>Solar installed capacity mwp</th>
      <th>Wind_MW</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data : ${energyDataList}">
      <td th:text="${data.dtm}"></td>
      <td th:text="${data.boa_MWh}"></td>
      <td th:text="${data.DA_Price}"></td>
      <td th:text="${data.MIP}"></td>
      <td th:text="${data.SS_Price}"></td>
      <td th:text="${data.solar_MW}"></td>
      <td th:text="${data.solar_capacity_mwp}"></td>
      <td th:text="${data.solar_installedcapacity_mwp}"></td>
      <td th:text="${data.wind_MW}"></td>
    </tr>
    </tbody>
  </table>
</div>